python-dotenv
streamlit
unstructured
tiktoken
langchain
langchain-classic
langchain-chroma
langchain-groq
langchain-community
protobuf
langchain-huggingface
chromadb
pysqlite3-binary
torch
validators
sentence-transformers
torchvision
spacy
en_core_web_sm
